
#parent{
   
    display: flex;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.823);
    justify-content: center;
    align-items: center;
    position: absolute;
    
    top:-2%;
    left:0%;
    z-index:2;
    
}

#child{
    width:20vw;
    height:50vh;
    background-color: rgba(255, 255, 255, 0);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
#base{
    width:100%;
    aspect-ratio:1/1;
  
    position: absolute;
    
}
#lef{
    position: absolute;
    width:100%;
    left:-1%;
    aspect-ratio:1/1;

    animation-name:lef;
    animation-duration:3s;
    animation-iteration-count: infinite;

}

@keyframes lef {

    0%{opacity: 0%;}
   
    50%{opacity:100%;}
     
    100%{opacity:0%;}
    
    
}